# UTS Pembelajaran Mesin

Nama, NIM, Kelas : Safira Oktarini 1197050124 C

#TOPIK MINI RISET

Klasifikasi Efek dari gaya hidup sehat dan aktif secara fisik pada prestasi akademik dengan algoritma KNN (K-Nearest Neighbors)

#Business Understanding

1.   Latar Belakang Masalah

    Jurnal kesehatan sering menghubungkan pentingnya gaya hidup sehat dan olah fisik pada hasil prestasi akademik seseorang. Namun dengan algoritma KNN hal tersebut belum tentu terbukti kebenarannya. karena itulah saya ingin membuktikan hubungan Efek dari gaya hidup sehat dan aktif secara fisik pada prestasi akademik dengan algoritma KNN (K-Nearest Neighbors).
2.   Identifikasi Masalah

    Adapun identifikasi masalah pada penelitian ini adalah rendahnya akurasi yang diperoleh dari penelitian sebelumnya menggunakan algoritma SVM, KNN, dan NaÃ¯ve Bayes kemudian menguji model dengan validasi K-fold dan akurasi confusion matrix yang disebabkan oleh sumber data twitter yang sellau berubah setiap waktu sehingga pengekstrasian ciri citra berkurang.
3. Metode Penyelesaian Masalah

    Menggunakan mettode Convolutional Neural Network
4. Tujuan Teknis dan Kriteria Kesuksesan

    tujuan dari penelitian ini yaitu mengukur performa dari implementasi CNN dan menghitung akurasi yang diperoleh pada kasus kecelakaan lalu lintas di Indonesia dari sumber Twitter.
    Adapun kriteria kesuksesan dari penelitian ini adalah memudahkan dalam mengetahui dan pendataan adanya kecelakaan lalu lintas di Indonesia.
5. Timeline Riset

    Berikut adalah timeline dari riset mengenai Klasifikasi berita kecelakaan lalu lintas dengan Metode CNN :
    *   Mencari dataset
    *   Menentukan kasus
    *   Studi literatur
    *   Analisa sistem
    *   Pembuatan sistem
    *   Menyusun laporan

#Data Understanding
Pada proyek ini kita memerlukan kumpulan dataset yang berisi berita kecelakaan lalu lintas yang diperoleh dari twitter. Data dari twitter diperoleh dengan melakukan scrapping tweet mencakup full text berita dan siapa akun twitter yang membuat tweet tersebut.
Berikut rincian atribut/fitur/independent variable/kriteria:
1. is_str : ID dari tweet yang diambil
2. created_at : waktu tweet dibuat
3. crawled_at : kapan tweet di scrap
4. screen_name : twitter username yang membuat tweet berita kecelakaan
5. full_text : keseluruhan isi tweet
6. full_tweet : hasil proses scrapping raw

In [ ]:
#install the dependencies
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import files
files.upload( )

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"safiraoktarini","key":"637b515f383f28d4361092db3ed8c54b"}'}

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

#mengganti permission
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d dodyagung/accident

Downloading accident.zip to /content
 97% 305M/313M [00:02<00:00, 132MB/s]
100% 313M/313M [00:02<00:00, 126MB/s]

In [ ]:
from zipfile import ZipFile
file_name = "accident.zip"

with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('Done')

Done

In [ ]:
import pandas as pd
df = pd.read_csv('twitter.csv')
df.head( )

,id_str,created_at,crawled_at,screen_name,full_text,full_tweet
0,1113812743138697216,2019-04-04 21:37:06,2020-02-08 12:30:13,vtvindonesia,Pelajar SMP Tewas Kecelakaan di Jalinsum Banda...,"{""created_at"": ""Thu Apr 04 14:37:06 +0000 2019..."
1,1113813804708548608,2019-04-04 21:41:19,2020-02-08 12:30:13,briand_fergie,Orang-orang pulang nonton film ini langsung ga...,"{""created_at"": ""Thu Apr 04 14:41:19 +0000 2019..."
2,1113823718956908545,2019-04-04 22:20:43,2020-02-08 12:30:13,dimanamacetid,[22:14] #JAKARTA #KECELAKAAN Rawamangun #TMC,"{""created_at"": ""Thu Apr 04 15:20:43 +0000 2019..."
3,1113846220986900480,2019-04-04 23:50:08,2020-02-08 12:30:14,imaamhanavi,[83:1] Kecelakaan besarlah bagi orang-orang ya...,"{""created_at"": ""Thu Apr 04 16:50:08 +0000 2019..."
4,1113847850801090560,2019-04-04 23:56:36,2020-02-08 12:30:14,mdntkptr,"Anggapannya kayak mobil vs motor kecelakaan, y...","{""created_at"": ""Thu Apr 04 16:56:36 +0000 2019..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157629 entries, 0 to 157628
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id_str       157629 non-null  int64
 1   created_at   157629 non-null  object
 2   crawled_at   157629 non-null  object
 3   screen_name  157629 non-null  object
 4   full_text    157629 non-null  object
 5   full_tweet   157629 non-null  object
dtypes: int64(1), object(5)
memory usage: 7.2+ MB

In [ ]:
# set independent variable/attribute/predictor/feature sampai kolom full_text
x = df[df.columns[:5]]
 
# set dependent variable/clas/target/label
y = df['full_tweet']

In [ ]:
# ini jadinya x

x

,id_str,created_at,crawled_at,screen_name,full_text
0,1113812743138697216,2019-04-04 21:37:06,2020-02-08 12:30:13,vtvindonesia,Pelajar SMP Tewas Kecelakaan di Jalinsum Banda...
1,1113813804708548608,2019-04-04 21:41:19,2020-02-08 12:30:13,briand_fergie,Orang-orang pulang nonton film ini langsung ga...
2,1113823718956908545,2019-04-04 22:20:43,2020-02-08 12:30:13,dimanamacetid,[22:14] #JAKARTA #KECELAKAAN Rawamangun #TMC
3,1113846220986900480,2019-04-04 23:50:08,2020-02-08 12:30:14,imaamhanavi,[83:1] Kecelakaan besarlah bagi orang-orang ya...
4,1113847850801090560,2019-04-04 23:56:36,2020-02-08 12:30:14,mdntkptr,"Anggapannya kayak mobil vs motor kecelakaan, y..."
...,...,...,...,...,...
157624,1247456050057367553,2020-04-07 16:27:53,2020-04-07 16:30:09,Rezkydwianti27,"Ya Allah kaget, kebiasaan nih mama banguninnya..."
157625,1247461248800706564,2020-04-07 16:48:33,2020-04-07 17:00:09,suarajawatimur,https://t.co/s9JBaGopSb
157626,1247461274939576326,2020-04-07 16:48:39,2020-04-07 17:00:09,GhaneshRM,dari lahir sampai sekarang omongan anak sndiri...
157627,1247461772891549696,2020-04-07 16:50:38,2020-04-07 17:00:09,rightafterre,When the wheather is fine tuh keliatannya aja ...
157628,1247463208262045696,2020-04-07 16:56:20,2020-04-07 17:00:09,siskamawardi,Apakah nikah muda adalah aib keluarga?\nApakah...

In [ ]:
# yang ini Y nya

y

0         {"created_at": "Thu Apr 04 14:37:06 +0000 2019...
1         {"created_at": "Thu Apr 04 14:41:19 +0000 2019...
2         {"created_at": "Thu Apr 04 15:20:43 +0000 2019...
3         {"created_at": "Thu Apr 04 16:50:08 +0000 2019...
4         {"created_at": "Thu Apr 04 16:56:36 +0000 2019...
                                ...
157624    {"created_at": "Tue Apr 07 09:27:53 +0000 2020...
157625    {"created_at": "Tue Apr 07 09:48:33 +0000 2020...
157626    {"created_at": "Tue Apr 07 09:48:39 +0000 2020...
157627    {"created_at": "Tue Apr 07 09:50:38 +0000 2020...
157628    {"created_at": "Tue Apr 07 09:56:20 +0000 2020...
Name: full_tweet, Length: 157629, dtype: object

#Modeling

In [ ]:
#import package model selection dari SKLearn
from sklearn.model_selection import train_test_split

In [ ]:
#membagi data training dan data testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [ ]:
#mengaktifkan package dan syntax untuk mengubah skala data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)

x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

ValueError: ignored